@import "tailwindcss";

:root {
  /* Light theme */
  --bg: #f5f7ff;
  --bg-secondary: #d0d8ff;
  --text: #1f1f1f;
  --text-secondary: #4b4b4b;
  --accent: #6366f1;
}

body.dark {
  /* Dark theme */
  --bg: #12121b;
  --bg-secondary: #1c1c2a;
  --text: #f5f5f5;
  --text-secondary: #c5c5c5;
  --accent: #818cf8;
}

/* Aplicar colores usando variables */
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

input {
  background-color: var(--bg);
}

.card {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

button {
  background-color: var(--accent);
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

nav > * {
  position: relative;
  text-decoration: none;
  padding: 5px 0;
}

nav > *::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav > *:hover::after {
  transform: scaleX(1);
}

.mint-button:disabled {
  opacity: 0.7;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}
